# Prohibition of listing an empty directory
Options -Indexes +SymLinksIfOwnerMatch
AddDefaultCharset utf-8
DirectoryIndex index.php
RewriteEngine On
# Removes the main double
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php
RewriteRule ^index\.php$ / [L,R=301]

# ----------------------------------------------------------------------
# Закриваємо доступ до всіх файлів та папок що починаються з крапки окрім well-known
# ----------------------------------------------------------------------
RewriteRule "(^|/)\.(?!well-known\/)" - [F]
# ----------------------------------------------------------------------
# Visitor access to important files and zip archives is prohibited
# ----------------------------------------------------------------------
<Files MysqlConnection.php>
  deny from all
</Files>
<Files load.php>
  deny from all
</Files>
<Files "\.(zip|txt|sql)$">
Deny from all
</Files>
# ----------------------------------------------------------------------
# Блокуємо деякі експлоїти
# ----------------------------------------------------------------------
# Якщо у вас виникли проблеми, закоментуйте ці правила
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Блокируем возможность посылать base64_encode через URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Блокируем передачу тега <script> через URL
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Блокируем выставление переменной PHP GLOBALS через URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Блокируем возможность изменять переменную _REQUEST через URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Посылаем все заблокированные запросы на домашнюю страницу с ошибкой 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]


# ----------------------------------------------------------------------
# Ще трохи безпеки
# ----------------------------------------------------------------------
# Щоб не показувати точну версію Apache у заголовках
ServerSignature Off

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]
RewriteRule (^\.|/\.) - [F]
